PORT=3000

SAML_ISSUER=http://localhost:3000/auth/saml/metadata
SAML_CALLBACK_URL=http://localhost:3000/auth/saml/callback
SAML_ENTRY_POINT=
SAML_IDP_CERT=

SESSION_SECRET=
FRONTEND_URL=http://localhost:5173